body,html{
  width: 100%;
  height: auto;

}



#searchbox{
  width: 25%;
  height: 100%;
  border: 1px black solid;
  background-color: rgb(224, 221, 221);
  float:left;
}
.searchBar{
  float: left;


}