body,html{
  width: 100%;
  background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/jPLiQ-9/mountains-background-for-titles-intro-projects-and-etc_ew22rur3l__F0000.png');
  height: auto;

}


#searchbox{
  width: 25%;
  height: 100%;
  border: 1px black solid;
  background-color: rgb(224, 221, 221);
  float:left;
  line-height: 1.49;
  color: #9c47e6;

}
.searchBar{
  float: left;

}

.container{
  background-color: #04d8e770;
  border: 1px solid black;
  
}

#results{



}