
body {
    margin: auto;
  }
  
  span {
    font-weight: bold;
  }
  
  div.header {
    text-align: center;
  }
  
  div.profile {
    
  }
  
  h4.profileHeading {
    
  }
  .photo{
      width: 175px;
      height: 175px;
   }
   
 .profileinfo{
      float: left;
      width: auto;
      height: auto;
      margin: 2px;
  
  }