
body {
  margin: auto;
}

span {
  font-weight: bold;
}

div.header {
  text-align: center;
}

.photo{
  width: 175px;
  height: 175px;
}
.profileinfo{
  width: auto;
  height: auto;
  margin: 2px;

}