
body {
  margin: auto;
  background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/jPLiQ-9/mountains-background-for-titles-intro-projects-and-etc_ew22rur3l__F0000.png');
}

span {
  font-weight: bold;
}

div.header {
  text-align: center;
}

.photo{
  width: 175px;
  height: 175px;
}
.profileinfo{
  width: auto;
  height: auto;
  margin: 2px;
  color: white;

}