.parent{
  margin: 40px;
  background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/jPLiQ-9/mountains-background-for-titles-intro-projects-and-etc_ew22rur3l__F0000.png');
  padding: 8px;
}

#top-content button{
  width: 50%;
  float: left;
  padding: 10px 0px;
}

#main-content{
  padding: 20px 0px;
}

#main-content .tab{
  background: #ff9999;
  display: none;
}
#main-content .active{
  display: block;
}

h1{
  text-align: center;
}

label{
  position:absolute;
  transform: translate(2px, 1px);
  margin-left: 5%;
  margin-top: 2%;
}

input{
  width: 90%;
  margin: 2% 5%;
}

button.submit{
  width: 40%;
  margin: 5000px, 30%;
}
