body{
  font-family: "Georgia";
}

.parent{
  margin: 40px;
  padding: 8px;
  box-shadow: 0px 6px 12px;
  background: #dbfbff;
  border-color: #0e227e;
  border-width: 10px;
  border-style: ridge;
  cursor: default;
}
.parent .tab{
  display: none;
}
.parent .active{
  display: block;
}

.top{
  width: 50%;
  float: left;
  border-style: none none double none;
  border-width: 5px;
  background: #00000000;
}

h1{
  padding-top: 40px;
  text-align: center;
}

.field{
  font-size: 16px;
  font-family: "Tahoma";
}

input:not([type='radio']){
  width: 90%;
  height: 20px;
  margin: 2% 5%;
  cursor: text;
  padding-left: 5px;
  font-size: 16px;
}

.radio-section{
  margin: 5px 0px 5px 7%;
}

button.submit{
  margin: 20px 20% 15px;
  width: 60%;
  background: #3a9ec594;
  box-shadow: 0px 2px 4px;
  border-style: inset;
  border-radius: 4px;
}

button{
  padding: 10px 0px;
  border-color: #010c3d;
  letter-spacing: 3px;
  font-size: 20px;
  cursor:pointer;
}